{% extends 'principal.html' %}

{% block content %}

<div class="container">
    <div class="py-5 text-center">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre del Laboratorio</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>
            <!-- Agregar más campos según sea necesario -->
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
</div>

{% endblock %}
