{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Laboratorio Farmacéutico{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="bg-primary text-white text-center py-4">
        <div class="container">
            <h1>Simulador de Fabricación de Productos Farmacéuticos</h1>
            <a href="{% url 'admin:index' %}">Ir a Admin</a>

            <a href="{% url 'lista_investigacion' %}" class="btn btn-light header-btn">Ir a Laboratorios</a>
        </div>
    </header>

    <main class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    <footer class="bg-dark text-white text-center py-3 mt-5">
        <p class="mb-0">Modulo 7</p>
    </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
